.reviewContainer {
  border-bottom: 1px solid black;
  margin: 25px auto 0px;
  padding-bottom: 15px;
}

.reviewContainerTopRow {
  display: flex;
  font-size: 12px;
}

.nameDate {
  display: flex;
  justify-content: flex-end;
}

.reviewContainer h3 {
  font-size: 20px;
}

.reviewContainer p {
  font-size: 12px;
}

.starsPlaceholder {
  border: 1px solid red;
  height: 20px;
  width: 150px;
}

/* .nameDate {
  white-space: nowrap;
} */

.response {
  background-color: rgba(165,165,165, 0.5);
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.response span:first-child {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 8px;
}

.response span:last-child {
  font-size: 13px;
}

.helpfulSpan {
  font-size: 11px;
}

span a {
  color: black;
  text-decoration: underline;
}