.ratingContainer {
  margin: 25px auto 50px;
}

.summaryh2 {
  font-size: 1rem !important;
  font-weight: 300 !important;
}

.rating {
  font-size: 3rem;
  font-weight: bold;
}

/* .starsPlaceholder {
  border: 1px solid red;
  height: 20px;
  width: 150px;
} */
