.flexRatingBarRow {
  display: flex;
  align-items: center;
}

.outerBar {
  display: flex;
  background-color: rgba(165,165,165, 0.5);
  height: 9px;
  padding: 0px;
}

.innerBar {
  background-color: rgb(132, 182, 99);
  height: 9px;
}

.spanFont {
  font-size: 13px;
  white-space: nowrap;
}