.container {
  /* border: 1px solid blue; */
  max-height: 100vh !important;
  overflow-y: scroll;
}

/* .ratingPlaceholder {
  border: 1px solid green;
  height: 231px;
  margin: 50px auto 50px;
} */