.container {
  max-height: 100vh !important;
  overflow-y: scroll;
}

 /* .formContainer {
  display: grid;
  grid
}  */

/* .spanFont {
  font-size: 13px;
  text-align: center;
  white-space: nowrap;
} */

/* .radioRows {
  display: flex;
  justify-items: center;
} */